<ng-container *ngIf="movie; else loading">
  <a class="back" routerLink="/movies"><i class="material-icons">
      arrow_back
    </i> return to movies</a>

  <div class="movie">
    <div class="movie__banner block" [ngStyle]="{'background-image': 'url(assets/images/movie-covers/' + movie.img + ')'}"></div>

    <div class="movie__info">
      <h3 class="movie__name block">
        {{movie.name}}
        <span class="movie__rate">
          <i class="material-icons">
            star
          </i>
          <span>{{movie.rate}}</span>
        </span>
      </h3>

      <h4 class="movie__genres" *ngIf="movie.genres && movie.genres.length > 0">
        Genres: {{movie.genres.join(', ')}}
      </h4>

      <p class="movie__description block">{{movie.description}}</p>

      <p class="movie__duration block">
        <i class="material-icons">
          access_time
        </i>
        <span class="movie__badge">{{movie.length}}</span>
      </p>

    </div>
  </div>
</ng-container>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>