<mat-form-field>
  <mat-select placeholder="Choose genre" [value]="selectedGenre" (selectionChange)="onChange($event)">
    <mat-option>None</mat-option>
    <mat-option *ngFor="let genre of genres" [value]="genre">{{genre | uppercase}}</mat-option>
  </mat-select>
</mat-form-field>