<div class="movie-card" *ngIf="movie">
  <div class="movie-card__image" [ngStyle]="{'background-image': 'url(assets/images/movie-covers/' + movie.img + ')'}">
  </div>
  <div class="movie-card__text">
    <h3>{{movie.name}}</h3>
    <p>{{movie.description}}</p>
  </div>
  <a [routerLink]="['/movies', movie.id]">Details</a>
</div>