:host {
  display: grid;
  min-height: 100%;

  position: relative;
  top: 0;
  transition: all .1s ease-in;

  .movie-card {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.2);

    display: grid;
    grid-template-columns: auto;
    justify-content: center;

    &__image {
      height: 280px;

      overflow: hidden;

      background: {
        position: top;
        repeat: no-repeat;
        size: cover;
      }
    }

    &__text {
      padding: 0 20px 20px;

      h3 {
        color: #424071;
      }

      p {
        color: #727294;
      }
    }

    a {
      align-self: end;

      padding: 10px;

      background-color: #3f51b5;
      color: #fff;

      text-align: center;
      text-decoration: none;

      &:hover,
      &:focus {
        background-color: darken(#3f51b5, 5);
      }
    }
  }

  &:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  }
}
