<form class="search-form" [formGroup]="searchForm" (ngSubmit)="onSubmit($event)" (keydown.enter)="onSubmit($event)">
  <input autofocus placeholder="Search movie..." type="search" formControlName="query">
  <button type="submit"><i class="material-icons">
      search
    </i></button>
</form>