:host {
  display: grid;
  justify-content: center;

  .search-form {
    display: grid;
    grid-template-columns: 1fr 80px;
    grid-column-gap: 1.125em;

    input {
      padding: 1.125em 2.625em;

      width: 120px;

      box-shadow: 0 15px 60px 0px rgba(204, 204, 204, 0.7);

      border: {
        width: 0;
        color: transparent;
        radius: 3.75em;
      }

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: #c6cfd9;
        font-weight: 100;

        opacity: 1;
      }

      &:-ms-input-placeholder {
        color: #c6cfd9;
        font-weight: 100;
      }

      &::-ms-input-placeholder {
        color: #c6cfd9;
        font-weight: 100;
      }
    }

    button {
      padding: 0;

      color: #ffffff;
      text-transform: uppercase;

      background-color: #3f51b5;

      transition: all 0.3s ease-in-out;

      cursor: pointer;

      border: {
        width: 0;
        color: transparent;
        radius: 3.75em;
      }

      &:hover {
        background-color: darken(#3f51b5, 5);
      }

      &:focus {
        outline: none;

        background-color: darken(#3f51b5, 5);
      }
    }

    @media screen and (min-width: 560px) {
      grid-column-gap: 1.875em;

      input {
        width: 240px;
      }
    }

    @media screen and (min-width: 740px) {
      input {
        width: 400px;
      }
    }
  }
}
