:host {
  margin: 0 auto;
  max-width: 1200px;
  min-height: 0;
  min-width: 0;

  .content-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-gap: 20px;
    align-items: stretch;

    padding: 20px;
    margin: 0;

    list-style: none;
  }

  .filter-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    padding: 20px;
  }

  .paginator-container {
    ::ng-deep .mat-paginator-container {
      justify-content: center;
    }
  }
}
