<div class="filter-container">
  <app-genre-filter [selectedGenre]="selectedGenre" (filter)="onFilterByGenre($event)"></app-genre-filter>
  <app-search-form (search)="onSearch($event)"></app-search-form>
</div>

<ng-container *ngIf="movies; else loading">
  <ul class="content-container">
    <li *ngFor="let movie of (movies | pagination: {number: pageIndex, size: pageSize})">
      <app-movie [movie]="movie"></app-movie>
    </li>
  </ul>
</ng-container>

<div class="paginator-container">
  <mat-paginator [length]="total" [pageIndex]="pageIndex" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" (page)="goToPage($event)">
  </mat-paginator>
</div>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>